extends layout
block content
    div(class="myleft")
        Breadcrumb(separator=">")
            breadcrumb-item(to="/") 首页
            Breadcrumb-Item
                span(id="directory") #{ note.directory.directory }
            breadcrumb-item
                span(id="title") #{ note.title }
        div(id="tagsview")
            each tag in note.tags
                Tag #{ tag.tag }
        div(id="editarea")
            Card
                != note.content
