extends layout
block content
    div(class="myleft")
        Breadcrumb(separator=">")
            breadcrumb-item(to="/") 首页
            Breadcrumb-Item
                span(id="directory" contenteditable placeholder="点我输入目录" class="contentedit")
            breadcrumb-item
                span(id="title" contenteditable placeholder="点我输入标题" class="contentedit")
        div(id="tagsview")
            Tag(v-for="tag in model.tags" closable @on-close="deltag(tag)") {{ tag }} 
            span(id="addtag" contenteditable placeholder="添加标签"
                 class="contentedit" @blur="addtag" @keyup.enter.188.229="addtag" class="tagstyle")
        div(id="editarea")
            Card(class="mysize-card myedit")
                div(class="mysize-content" id="myedit" @keyup='conversion' @blur='autosave' contenteditable)
            Card(class="mysize-card myedit")
                div(id="mdarea")
