extends layout
block content
    div
        Breadcrumb(separator=">")
            breadcrumb-item(to="/") 首页
        div(class="myarea")
        each note in notes
            Card(class="mycont")
                div(slot="title" class="contentitle") #{ note.title }
                    div #{ note.author }
                p(onload="realtime")
                    != note.content
                each tag in note.tags
                    Tag #{ tag.tag }