extends layout
block content
    div(class="myleft")
        Breadcrumb(separator=">")
            breadcrumb-item(to="/") 首页
        div(id="tagsview")
            Tag(v-for="tag in tagselect") {{ tag }}
        each note in notes
            Card(class="mycont")
                div(slot="title" class="contensingle") 标题: 
                    a(href="/" + note.title) #{ note.title }
                    - var author = note.author
                    if author
                        div 作者: #{ note.author }
                    else 
                        div 作者: 未知
                != note.content
                div(id="tagsview" class="contensingle") 标签:
                    each tag in note.tags
                        Tag #{ tag.tag }
                    div 发布日期: #{ note.date }
