extends layout
block content
    Form(ref="formInline" :model="user" inline)
        FormItem(prop="user")
           I-input(type="text" v-model="user.username" placeholder="Username")
               Icon(type="ios-person-outline" slot="prepend")
        FormItem(prop="password")
            I-input(type="password" v-model="user.password" placeholder="Password")
               Icon(type="ios-lock-outline" slot="prepend")
        FormItem
            i-button(type="primary" @click="login") Signin